
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #B22222;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
	font-size: 12pt;
	
}

li a.active {
    background-color: #B22222;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

/* here i have made the footer the full length of the page with a color of green */
