html {
    font-family: sans-serif; 
}

.navbar {
  overflow: hidden;
  background-color: #B22222;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}


/* here i have made the footer the full length of the page with a color of green */
footer {
    font-size: 12pt;
    color: white;
    background-color: black;
    padding: 0em;
    margin-top: 1em;
    white-space: pre;
    clear: both; 
	width: 100%;
	top: 1px;
	left: 1px;

}


/*here the color and size of the heading has been styled*/
h1 {
color: #8B0000 ;
font-size: 20pt;
font-family: Arial;
text-align: center
}
